@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
header h1{
    font-family: 'Bebas Neue', cursive;
    /* font-weight: 700; */
    font-size: 80px;
}
header button{
    width: 170px;
height: 60px;

background: linear-gradient(180deg, #A4BC46 0%, #85A019 100%);
border-radius: 10px;
border: none;
color: white;
font-size: 16px;
}